---
import AdminLayout from "@/layouts/AdminLayout.astro";
// import { Button } from "@/components/ui/button";
import UserTable from "@/components/users/UserTable.vue";
import ExportCsvButton from "@/components/ExportCsvButton.vue";

let campaigns : any = await fetch(`${Astro.url.origin}/api/projects/${Astro.params.id}/campaigns.json`).then(res => res.json())
console.log(Astro.params.id, JSON.stringify(campaigns))

let users = await fetch(`${Astro.url.origin}/api/projects/${Astro.params?.id}/users.json`).then(res => res.json())

---

<AdminLayout>
  <div class="w-full h-full">
    <div class="p-4 py-6 flex justify-between items-center">
      <h1 class="text-3xl pl-4 font-brand font-bold text-white">Users</h1>

      <!-- <button id="export-csv">
        <Button  class="bg-blue-500 hover:bg-blue-600">Export CSV</Button>
      </button> -->
      <ExportCsvButton users={users} client:only="vue" />
    </div>
    <UserTable users={users} project_id={Astro.params?.id} campaigns={campaigns} client:only="vue" />

  </div>
</AdminLayout>
<!-- 
<script is:inline define:vars={{ users }}>

  document.getElementById('export-csv').addEventListener('click', () => {

    console.log(users)

  //  // Your CSV data
    const csvData = users.map(user => {
        return [user.name || "", user.address, user.tags.join(' ')]
   })

    // Convert array to CSV string
    const csvString = "name,address,tags\n" + csvData.map(row => row.join(",")).join("\n");
 

    // Create a Blob from the CSV string
    const blob = new Blob([csvString], { type: 'text/csv' });

    // Create a URL for the Blob
    const url = window.URL.createObjectURL(blob);

    // Create a temporary link element
    const a = document.createElement('a');
    a.style.display = 'none';
    a.href = url;
    a.download = 'data.csv';

    // Append the link to the document body
    document.body.appendChild(a);

    // Trigger a click event on the link
    a.click();

    // Clean up
    window.URL.revokeObjectURL(url);
    document.body.removeChild(a);
  });
</script>
 -->
