---
const { project } = Astro.params;
const project_info = await fetch(`${Astro.url.origin}/api/project/${project}.json`).then(res => res.json())
// console.log(project_info)

import Layout from '@/layouts/Layout.astro'

// let campaigns = []
// generate 20 campaigns
// for (let i = 0; i < 20; i++) {
//     campaigns.push({
//         id: i,
//         title: `Campaign ${i}`,
//         description: `Description for Campaign ${i}`,
//         image: `https://picsum.photos/seed/${i}/300/200`,
//         tags: ['tag1', 'tag2', 'tag3'],
//         status: 'active'
//     })
// }

import CampaignModal from '@/components/campaign/Modal.vue'
import ChatBubble from '@/components/ChatBubble.vue'

import HeaderAction from '@/components/HeaderAction.vue'


---

<Layout>

    <main class="w-screen h-screen grid grid-cols-3">

        

        <div class="w-full h-full border-r col-span-2 overflow-y-auto">
            
            <div class="py-12 grid grid-cols-5 items-center w-full border-b">
                
                <div class="flex flex-col justify-start items-start w-full col-span-3 px-8">
                    <h1 class="text-7xl font-brand font-bold">{ project_info?.token_name }</h1>
                    <div class="font-brand font-bold flex justify-start items-center text-2xl mt-4">
                        on&nbsp;
                        <div class=" bg-blue-500 rounded-xl p-2 px-4 text-white ">
                            :Remo
                        </div>
                    </div>

                </div>

                <div class="w-full col-span-2">
                    <HeaderAction client:only="vue"/>
                </div>

                <!-- <button class="text-4xl font-brand font-bold px-8 bg-blue-500 text-white py-4 rounded-xl duration-300 hover:scale-90 hover:ring-4 hover:ring-blue-100 hover:ring-offset-4 active:scale-75">CTA</button> -->
            </div>

            <section>

                <div class="p-4">
                    <h2 class="text-xl font-brand font-semibold">Campaigns</h2>
                </div>

                {
                    project_info?.campaigns?.map( (_c:any) => 
                        <div class="w-full grid grid-cols-5 items-center p-4">
                            <p class="col-span-3">{ _c?.tag } </p>
                            <p>Joined</p>
                            <div class="w-full flex justify-end items-center">
                                <CampaignModal client:only="vue" project_info={project_info} campaign_info={_c} />
                            </div>
                        </div>
                    )
                }
                
                

            </section>

        </div>


        <div class="w-full h-full flex justify-center items-center">
            
            <ChatBubble client:only="vue" project_info={project_info} />
        </div>


    </main>


</Layout>