---
import AdminLayout from "@/layouts/AdminLayout.astro";
import { Button } from "@/components/ui/button";
import CampaignLink from "@/components/campaign/CampaignLink.vue";
import CampaignTable from "@/components/campaign/CampaignTable.vue";

const { id } = Astro.params;

const campaign = await fetch(`https://ojvozirqgxgiztlmasrm.supabase.co/rest/v1/campaigns?select=*&id=eq.${id}`, {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qdm96aXJxZ3hnaXp0bG1hc3JtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcxMjg5MTY5OSwiZXhwIjoyMDI4NDY3Njk5fQ.RnuTetoEW2cr_2yHfiTttQcidqe3Trour21lyrTRYxA",
    Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qdm96aXJxZ3hnaXp0bG1hc3JtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcxMjg5MTY5OSwiZXhwIjoyMDI4NDY3Njk5fQ.RnuTetoEW2cr_2yHfiTttQcidqe3Trour21lyrTRYxA",
  },
})
  .then((res) => res.json())
  .then((res) => res[0]);

const metrics = await fetch(`https://ojvozirqgxgiztlmasrm.supabase.co/rest/v1/campaign_metrics?select=*&campaign_id=eq.${id}`, {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qdm96aXJxZ3hnaXp0bG1hc3JtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcxMjg5MTY5OSwiZXhwIjoyMDI4NDY3Njk5fQ.RnuTetoEW2cr_2yHfiTttQcidqe3Trour21lyrTRYxA",
    Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qdm96aXJxZ3hnaXp0bG1hc3JtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcxMjg5MTY5OSwiZXhwIjoyMDI4NDY3Njk5fQ.RnuTetoEW2cr_2yHfiTttQcidqe3Trour21lyrTRYxA",
  },
}).then((res) => res.json());

  console.log(20, metrics)

let steps =[{
  id: 0,
  name: 'visit',
  href: "#",
  count: 0,
}, {
  id: 1,
  name: 'connect',
  href: "#",
  count: 0,
}]

if (metrics.length > 0) {
   steps.map((step, i) => {
    const metric = metrics.find((o: any) => o.name === step.name)
    if (!metric) {
        return
    }
    if (metric.count > 0)
      steps[i].count = metric.count
  })
}


const sampleData = [] as any
await fetch("https://ojvozirqgxgiztlmasrm.supabase.co/rest/v1/rpc/get_user_events_by_campaign_id", {
  method: "POST",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qdm96aXJxZ3hnaXp0bG1hc3JtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcxMjg5MTY5OSwiZXhwIjoyMDI4NDY3Njk5fQ.RnuTetoEW2cr_2yHfiTttQcidqe3Trour21lyrTRYxA",
    Authorization: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qdm96aXJxZ3hnaXp0bG1hc3JtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcxMjg5MTY5OSwiZXhwIjoyMDI4NDY3Njk5fQ.RnuTetoEW2cr_2yHfiTttQcidqe3Trour21lyrTRYxA",
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    _campaign_id: id,
  }),
})
  .then((res) => res.json())
  .then((res) => {
    if (res?.map) {
      res.map((o: any) => {
        sampleData.push({
          id: o.user_id,
          name: o.user_name,
          address: o.user_address,
          progress: o.events.reduce((a: number, o: string) => {
            if (o === "connect") {
              a += 50;
            }
            if (o === "visit") {
              a += 50;
            }
            return a;
          }, 0),
        })
      })
    }
  });

const url = Astro.url.pathname;

let projectSlug = url.match(/\/admin\/project\/([^\/]*)/)?.[1];

---

<AdminLayout>
  <div>
    <div class="p-4 pb-4 pt-4 grid grid-cols-6 mb-2 items-end">
      <div class="col-span-3 flex justify-start items-center mb-8">
        <a href={`/admin/project/${projectSlug}`}>
          <Button variant="ghost" class="text-white underline text-lg font-brand">
            <iconify-icon icon="bi:arrow-left" class="mr-4"></iconify-icon>
            Back
          </Button>
        </a>
      </div>

      <div class="col-span-3 flex justify-end items-center mb-8">
        <Button class="bg-bremo-800 hover:bg-bremo-700">Edit Campaign</Button>
      </div>

      <div class="col-span-4 pl-2">
        <p class="text-lg mb-2 font-brand font-bold text-bremo-400">Campaign</p>
        <div class="w-full flex justify-start items-center my-3">
          <div class="text-sm p-1 px-3 bg-blue-500 text-white font-brand font-bold rounded-md">
            {campaign.tag}
          </div>
        </div>
        <h1 class="text-4xl font-brand font-bold text-white">{campaign.title}</h1>
      </div>

      <div class="w-full flex justify-end items-center col-span-2">
        <CampaignLink client:only="vue" link_text={`https://remo.re/mo/${campaign.id}`} />
      </div>
    </div>

    <CampaignTable steps={steps} data={sampleData} client:only="vue" />
  </div>
</AdminLayout>
