---
import "@/styles/globals.css";
import SignOutButton from "@/components/SignOutButton.vue";
import { Button } from "@/components/ui/button";
import ProjectDropdown from "@/components/admin/ProjectDropdown.vue";
import Xmtpclient from "@/components/admin/Xmtpclient.vue";

const url = Astro.url.pathname
// match the pattern to get project slug /admin/project/<id>/...
let projectSlug = url.match(/\/admin\/project\/([^\/]*)/)?.[1]

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet" crossorigin="anonymous" />
  </head>

  <body class=`w-full h-full min-h-screen grid grid-rows-[auto_1fr] bg-stone-900 `>
    <script>
      import "iconify-icon";
import { Buffer } from "buffer";
window.Buffer = window.Buffer ?? Buffer;
    </script>

    <nav class="w-full border-b border-b-stone-700 bg-stone-800 p-4 grid grid-cols-3">
      <div class="w-full flex justify-start items-center space-x-2 col-span-2">

        <div class="font-brand font-bold text-lg ml-2 mr-4 text-white">REMO</div>

        <div class="w-[200px] flex justify-center items-center">
          <ProjectDropdown client:only="vue" wallet={Astro.locals.user.id}/>
        </div>
        <a href={`/admin/project/${projectSlug}`}>
          <Button class="text-white hover:bg-stone-700 hover:text-stone-100" variant="ghost">Campaigns</Button>
        </a>
        <a href={`/admin/project/${projectSlug}/users`}>
          <Button class="text-white hover:bg-stone-700 hover:text-stone-100" variant="ghost">Users</Button>
        </a>
        <a href={`/admin/project/${projectSlug}/chat`}>
          <Button class="text-white hover:bg-stone-700 hover:text-stone-100" variant="ghost">Chat</Button>
        </a>
      </div>

      <div class="w-full flex justify-end items-center">
        <Xmtpclient client:only="vue" />
        <SignOutButton client:only="vue" />
      </div>
    </nav>

    <slot />
  </body>
</html>
